.btn--gradiant{
    border: none;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 85%);
    //font-size: 40px;
    font-size: 16px;
    color: $color-white;
    position: relative;
    overflow: hidden;
    //padding: 40px 50px;
    padding: 15px 30px;
    cursor: pointer;
    //box-shadow: 10px 10px 25px 0 rgba($color-blackened, .5);
    box-shadow: 1px 5px 15px 0px rgba($color-blackened, .5);
    transition: all .5s;
}

.btn--gradiant::after{
    content:"";
    width: 750px;
    height: 750px;
    background: linear-gradient(-180deg, #00febe 0%, $color-secondary 50%, $color-primary 100%);
    position: absolute;
    top:-475px; left:-80px;
    z-index: -1;
    transition: all .5s;
}

.btn--rouned{
    //border-radius: 100px;
    border-radius: 50px;
}

button:hover::after{
    transform: rotate(180deg);
}

button:hover{
    transform: translate(0, -3px);
    box-shadow: 20px 20px 45px 0 rgba($color-blackened, .5);
}