.gal {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 25px;
    @include tablet{
        flex-flow: row wrap;
        justify-content: space-around;
    }
    a{
        @include tablet{
            width: 45%;
        }
    }
}

.picture {
    width: 100px;
}

.card {
    width: 100%;
    border-radius: 20px;
    background-color: $color-white;
    box-shadow: 0 10px 50px 0 rgb($color-blackened, 0.2);
    margin-bottom: 20px;

    &:hover {
        transform: scale(1.1);
    }
}

.new {
    padding: 8px 20px;
    border-radius: 3px;
    background-color: $color-tertiary;
    position: absolute;
    right: 15px; top: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #008d62;
}

.card__pic {
    position: relative;
    border-radius: 20px 20px 0 0;

    .picture {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: bottom;
    }

    .picture--center {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .picture--roundedTop {

        border-radius: 20px 20px 0 0;
    }
}

.card__text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .text--column {
        width: 90%;
        padding: 15px;

        h4 {
            margin: 0;
        }
    }

    .icn-favorite {
        width: 10%;
        padding: 20px;
        justify-content: center;
    }
}

p.place-restaurant {
    margin: 5px 0 0 0 ;
    color: rgb($color-blackened, 0.8);
}

.profil {
    .photo__profil{
        width:100%;
        object-fit: cover;
    }

    @include tablet{
        height: 400px;
        .photo__profil{
            height: 330px;
        }
    }

    @include desktop{
        height: 400px;
        .photo__profil{
            height: 330px;
        }
    }
}