.heart-container{
    position: relative;
}

.heart-animated{
    position: absolute;
    top: 50%; left: 50%;
    opacity: 0;
    transition: all 2s;
    font-size: 3px;
    &:hover{
        font-size: 64px;
        opacity: 1;
        top: 0; left: 0;
    }
}

.fav-heart--black{
    color: rgba($color-blackened, 1);
}

.fav-heart--color{
    background-color: black;
    background-image: radial-gradient( 
        #FF79DA 0%,
        #9356DC 85%
        );

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/*.fav-heart--background{
    background-color: radial-gradient($color-secondary, $color-primary);
    transition: all 4s;
    &:hover{
        background-color: radial-gradient($color-secondary, $color-primary);
    }
}*/