.heart-container{
    position: relative;
    cursor: pointer;
}

.heart-animated{
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    transition: all .8s;
    &:hover{
        opacity: 1;
        top: 0; left: 0;
    }
}

.fav-heart--black{
    color: rgba($color-blackened, 1);
}

.fav-heart--color{
    background-color: white;
    background-image: radial-gradient(#FF79DA 0%,#9356DC 85%);

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}