.menu-pannel{
    display: flex;
    flex-direction: column;
}

.plate{
    display: flex;
    height: 150px;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 60px;
    background-color: white;
    box-shadow: 0 5px 25px 0 rgb($color-blackened, 0.2);
    cursor: pointer;
    
    .plate-details{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
}

.plate__txt{
    overflow: hidden;
}

.price--align{
    margin-top: 80px;
    margin-right: 40px;
}