.menu-pannel{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    :nth-child(1){
        animation: unfold 3s 1s forwards;
    }
    :nth-child(2){
        animation: unfold 3s 1.3s forwards;
    }
    :nth-child(3){
        animation: unfold 3s 1.6s forwards;
    }
    :nth-child(4){
        animation: unfold 3s 1.9s forwards;
    }
}

.plate{
    display: flex;
    height: 150px;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 60px;
    background-color: white;
    box-shadow: 0 5px 25px 0 rgb($color-blackened, 0.2);
    cursor: pointer;
    
    .plate-details{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.plate__txt{
    width: auto;
    overflow: hidden;
}

.plate__price{
    width: 20%;
}

.plate__valid{
    width: 0%;
    background-color: rgba($color-tertiary, 1);
    &:hover{
        width: 20%;
    }
}

.price--align{
    margin-top: 80px;
    margin-right: 40px;
}

@keyframes unfold {
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
}

@keyframes rolling{

}