input{
    width: 140px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    }

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    i{
        align-items: right;
    }
}

#search{
    box-shadow: inset 1px 4px 9px -6px rgb(0 0 0 / 40%); 
    background-color: #E9E9E9;
}
