#reserve{
        padding: 50px 40px;
        background-color: #F6F6F6;

    @include to-tablet{
        background-color: red;
    }

    @include to-desktop{
        background-color: blue;
    }
}

.box--offset{
    padding: 25px;
    background-color: $color-white;
}

.box--rounded{
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.box--color{
    background-color: $color-smoked;
}

.box--position{
    transform: translate(0, -50px);
}

.fonctionnement{
    display: flex;
    flex-direction: column;
}

#restaurants{
    background-color: $color-whitened;
}

.reservation{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    p{
        color: $color-blackened;
    }
    button p{
        color: $color-white;
    }
}

.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.command{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
        
    button{
        padding: 30px 100px;
        margin: 0 0 75px;
    }
}