#reserve{
    padding: 100px 130px 100px;
}


#fonction{
    padding: $padding50;
    background-color: $color-white;
}

.fonctionnement{
    display: flex;
    flex-direction: column;
}

#restaurants{
    padding: $padding50;
    background-color: $color-whitened;
}

.reservation{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;

    p{
        color: $color-blackened;
    }

    button p{
        color: $color-white;
    }
}