#reserve{
        padding: 50px 40px;
        background-color: #F6F6F6;

    @include to-tablet{
        background-color: red;
    }

    @include to-desktop{
        background-color: blue;
    }
}

.box--offset{
    //padding: $padding50;
    padding: 50px 20px 30px 20px;
    background-color: $color-white;
    h2{
        //padding-top: $padding50;
        //padding-bottom: $padding50;
    }
}

.box--rounded{
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
}

.box--color{
    background-color: $color-smoked;
}

.box--position{
    transform: translate(0, -155px);
}

.fonctionnement{
    display: flex;
    flex-direction: column;
}

#restaurants{
    background-color: $color-whitened;
}

.reservation{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    p{
        color: $color-blackened;
    }
    button p{
        color: $color-white;
    }
}

.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0;
}

section.command{
    display: flex;
    align-items: center;
    justify-content: center;
        
    button{
        padding: 30px 100px;
        margin: -75px 0 150px 0;
    }
}