.pannel {
    display: flex;
    flex-direction: column;
    padding: 0px;
    @include to-tablet{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }

    .sticker {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 25px;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 1px 5px 15px 0px rgb($color-blackened, 0.3);
        font-size: 16px;
        @include to-tablet{
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .sticker--backGrey {
        background-color: $color-whitened;
    }

    .sticker:hover {
        background-color: rgb($color-primary, 0.1);
        color: $color-primary;
        cursor: pointer;

        .icon--stylized {
            color: $color-primary;
            opacity: 1;
        }
    }

    .sticker--circle {
        padding: 4px;
        margin-right: 15px;
        margin-left: -36px;
        position: relative;
        width: 1.2em;
        background-color: $color-primary;
        border-radius: 100%;
        display: flex;

        .sticker--nbr {
            position: relative;
            color: $color-white;
            margin: auto;
        }
    }

    .sticker__icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 16px 0 0px;
        color: $color-primary;

        .icon--stylized {
            color: $color-blackened;
            opacity: .5;
        }
    }

    .sticker__text {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .text--sizing {
            margin: 0;
            font-weight: bold;
            text-align: center;
        }
    }
}