body, p, h2, h4{
    font-family: 'Roboto', sans-serif, Verdana, Arial, Helvetica, sans-serif;
}

h1, h3{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
}

h2{
    font-weight: bold;
    margin-bottom: 50px;
}

h4{
    font-weight: bold;
    margin-bottom: 20px;
}

h3{
    color: $color-white;
}

p{
    margin-bottom: 50px;
}

ul{
    margin: 25px 0;
    color: white;
}

a{
    text-decoration: none;
    color: $color-black;
}

ul li a{
    color: white;
    text-decoration: none;
}