body{
    font-family: 'Roboto', sans-serif, Verdana, Arial, Helvetica, sans-serif;
}

.logo{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
}

.logoWhite{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
    color: $color-white;
}

h1{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
    color: black;
    font-size: 28px;
    margin: 0;
}

h2{
    font-size: 28px;
    color: $color-blackened;
    margin: 0;
}

h3{
    font-size: 16px;
    font-weight: 400;
    color: $color-blackened; 
    margin: 15px 0;
}

.menu--under{
        width: 11%;
        line-height: 40px;
        border-bottom: 3px solid #99E2D0;
}

h4{
    margin: 0 0 8px 0;
}

p{
    font-size: 16px;
    color: $color-blackened;
    margin: 0;
}

.fonts--bold{
    font-weight: 700;
    color: $color-blackened;
    margin: 12px 0;
}

a{  
    text-decoration: none;
    color: $color-blackened;
}

.loader-typo{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
    color:white;
    font-size: 44px;
}

.margin-bot{
    margin-bottom: 20px
}