body, p{
    font-family: 'Roboto', sans-serif, Verdana, Arial, Helvetica, sans-serif;
}

.logo{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
}

.logoWhite{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
    color: $color-white;
}

h1{
    font-family: 'Shrikhand', cursive, Impact, Arial, Helvetica, Verdana;
    color: $color-white;
}

h2{
    font-size: 60px;
    color: $color-blackened;
    margin: 0;
}

p{
    font-size: 40px;
    color: $color-blackened;
}