@mixin tablet {
    @media only screen and (min-width: map-get($breakpoint, tablet)){
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: map-get($breakpoint, desktop)){
        @content;
    }
}

// Taille maximale du viewport en desktop

@mixin maxview{
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
}