// les couleurs types //

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #ffffff;
$color-black: #000000;
$color-blackened: #353535;
$color-smoked: #eaeaea;
$color-whitened: #f6f6f6;