// Les breakpoints //

$breakpoint: (
    tablet: 768px,
    desktop: 992px,
);


// Les couleurs types //

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #ffffff;
$color-black: #000000;
$color-blackened: #353535;
$color-smoked: #eaeaea;
$color-whitened: #f6f6f6;

// Les paddings //

$padding50top: 50px 0 0 0;
$padding50: 50px;

// Les bordures //

$border45: 45px;
$borderTopRounded : 45px 45px 0 0;
$borderBotRounded : 0 0 45px 45px;